<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Application\\Tests">
            <directory>./modules/Application/test</directory>
        </testsuite>
        <testsuite name="I18n\\Tests">
            <directory>./modules/I18n/test</directory>
        </testsuite>
        <testsuite name="Bootstrap\\Tests">
            <directory>./modules/Bootstrap/test</directory>
        </testsuite>
        <testsuite name="Pizza\\Tests">
            <directory>./modules/Pizza/test</directory>
        </testsuite>
        <testsuite name="User\\Tests">
            <directory>./modules/User/test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
